<div class="h-100">
    <div>
        <p class="text-left">
            This website contains the semantic informations of the CoreAAS based application developed by Alessandro Messina and Marco Pisasale for the University of Catania. 
            You can explore those informations by means of the menu on the left of this section.
            The implementation was made according to the document <a href="rsc/pdf/2018-details-of-the-asset-administration-shell.pdf">Details of the asset administration shell</a>.
        </p>
    </div>
    <img src="rsc/img/factory.jpg" style="max-width:60%; height:auto">
    <div class="">
        <a href="https://github.com/Taletex/CoreAAS-based-application" target="_blank"><button class="btn btn-success">Go to Official Repo (GIT)</button></a>
    </div>
</div>